requests==2.23.0
# The current library is bugged so we need the latest
-e ./libraries/botbuilder-ai
-e ./libraries/botbuilder-applicationinsights
-e ./libraries/botbuilder-azure
-e ./libraries/botbuilder-core
-e ./libraries/botbuilder-dialogs
-e ./libraries/botbuilder-integration-aiohttp
-e ./libraries/botbuilder-schema
-e ./libraries/botbuilder-testing
-e ./libraries/botframework-connector
-e ./libraries/botframework-streaming
-e ./libraries/botbuilder-integration-applicationinsights-aiohttp
-e ./libraries/botbuilder-adapters-slack
datatypes-date-time>=1.0.0.a1
azure-cognitiveservices-language-luis>=0.2.0
msrest==0.6.10
opencensus-ext-azure
unittest2
aiohttp==3.7.4
emoji==1.7